#alumni {
    padding: 30px 90px 20px 90px;
    text-align: center;
}

#alumni h2 {
    font-size: 42px;
    font-family: sans-serif;
    color: black;
    padding-bottom: 10px;
}

#alumni article {
    background-color: #0a0a23;
    display: flex;
    margin-bottom: 60px;
}

#testimonio_texto {
    font-family: sans-serif;
    color: #d0d0d5;
    font-size: 20px;
    width: 73%;
}

#datos_alumno {
    font-size: 22px;
    padding-top: 43px;
    text-align: center;
}

#testimonio_p {
    padding: 8px 40px 20px 40px;
    line-height: 1.4;
    text-align: justify;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #333;
}
form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="file"] {
  margin-bottom: 15px;
}
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}